simit/
*.swp
.tmp*/
*.zip
#*.txt
*.pth
*.npy
*.mat
*.png
*.pdf
*.tgz
*.gz
*.tar
.idea/
.git/
*tfevents*
*.gdoc
.DS_Store
Icon*
grasp/
data/
result_*/
__pycache__/
gesture_classification.py
TS_RNN.py
*_bak/
webapp/*
*log*
